@page "/fetchdata"
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (FederationMembers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>PubKey</th>
                <th>CollateralAmount</th>
                <th>LastActiveTime</th>
                <th>PeriodOfInActivity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var federationMember in FederationMembers)
            {
                <tr>
                    <td>@federationMember.PubKey</td>
                    <td>@federationMember.CollateralAmount</td>
                    <td>@federationMember.LastActiveTime </td>
                    <td>@federationMember.PeriodOfInActivity </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private FederationMember[]? FederationMembers;

    protected override async Task OnInitializedAsync()
    {
        FederationMembers = await Http.GetFromJsonAsync<FederationMember[]>("http://localhost:37223/api/Federation/members");
    }

    public class FederationMember
    {
        public string PubKey { get; set; }
        public decimal CollateralAmount { get; set; }
        public DateTime? LastActiveTime { get; set; }
        public TimeSpan? PeriodOfInActivity { get; set; }
    }
}
